<!DOCTYPE html>
<html>
<head>
<title>読書履歴管理 新規登録</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery.ui.datepicker-ja.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/padolsey/jquery.fn/master/cross-domain-ajax/jquery.xdomainajax.js"></script>
<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/pepper-grinder/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
<script type="text/javascript">
  window.moveTo(20,20)
  window.resizeTo(1220, 720)
  $(function() {
    $("#issuedate").datepicker({ dateFormat: 'yy/mm/dd' });
    $("#getdate").datepicker({ dateFormat: 'yy/mm/dd' });
    $("#readdate").datepicker({ dateFormat: 'yy/mm/dd' });
  });
  function check1(elm) {  
    if (/^[0-9]*$/.test(elm.value)) {
      elm.setCustomValidity('');
    } else {
      elm.setCustomValidity('数字のみを入力してください');
    }
  };
</script>
</head>
<body>
    <form action="./add" method="post">
    <table class="table">
      <tr>
        <td>ISBN13：<input type="number" name="isbn13" value="9784000000000" maxlength="13" size="15" required></td>
        <td><a href="https://www.amazon.co.jp/dp/" target="_blank">ISBN10</a>：<input type="number" name="isbn10" id="isbn10" value="4000000000" maxlength="10" size="12"></td>
        <td colspan="2"><a href="#" onclick="getImg ();">画像</a>：<input type="text" name="coverimg" id="coverimg" maxlength="41" size="49"></td></tr>
      <tr>
        <td colspan="2">書名：<input type="text" name="bookname" id="bookname" maxlength="50" size="64" required></td>
        <td>状況：
          <select name="state" id="state">
            <option value="0" selected>未読</option><option value="1">読了</option><option value="2">読書中</option>
          </select></td>
        <td rowspan="7" align="center">
          <div id="cover"></div>
        </td></tr>
      <tr>
        <td colspan="2">著者：<input type="text" name="author" id="author" maxlength="25" size="64"></td>
        <td>分類：<input type="text" name="genre" id="genre" maxlength="25" size="14"></td></tr>
      <tr>
        <td colspan="2">出版：<input type="text" name="publisher" id="publisher" maxlength="25" size="64"></td>
        <td>所有：<input type="radio" name="ownership" value="1" checked /> Yes&nbsp;&nbsp;
                  <input type="radio" name="ownership" value="0" /> No</td></tr>
      <tr>
        <td>発行：<input type="text" name="issuedate" id="issuedate" maxlength="10" size="11" pattern="\d{4}/\d{2}/\d{2}" title="YYYY/MM/DD"></td>
        <td>入手：<input type="text" name="getdate"   id="getdate"   maxlength="10" size="11" required pattern="\d{4}/\d{2}/\d{2}" title="YYYY/MM/DD"></td>
        <td>読了：<input type="text" name="readdate"  id="readdate"  maxlength="10" size="11" pattern="\d{4}/\d{2}/\d{2}" title="YYYY/MM/DD"></td></tr>
      <tr>
        <td colspan="2">書店：<input type="text" name="library" id="library" maxlength="25" size="64"></td>
        <td>価格：<input type="number" name="purchase" id="purchase" maxlength="7" size="5" pattern="\d" title="数字" onchange="check1(this);"></td></tr>
      <tr>
        <td colspan="4">概要：<input type="text" name="overview" id="overview" maxlength="255" size="107"></td></tr>
      <tr>
        <td colspan="4">感想：<textarea name="impressions" id="impressions" cols="109" rows="4"></textarea></td></tr>
      </tr>
    </table>
    <button type="submit" name="button" class="btn btn-success">登録</button>
    <button type="button" onclick="location.href='./'" class="btn btn-warning">戻る</button>
  </form>
  <script>
    function getImg () {
      if (!$('#isbn10').val()) { return; }
      if ($('#isbn10').val() === "4000000000") { return; }
      window.location.href = "./add2?isbn10=" + $('#isbn10').val();
    }
  </script>
</body>
</html>
